- if(!flash && res.locals !== undefined && res.locals.hasOwnProperty('flash')) flash = res.locals.flash

- for message in flash
    form.alert-form(method='GET', action="/clear-flash")
        div.alert.alert-dismissable(class="alert-" + "#{message.type}")
            strong #{message.message}.
