- if(!flash && res.locals !== undefined && res.locals.hasOwnProperty('flash')) flash = res.locals.flash

- for message in flash
    - var alertType = "alert-" + message.type
    div.alert.alert-dismissable(class="#{alertType}")
        strong #{message.message}.
