head
    meta(charset='utf8')
    title Twitter Client
    meta(name="description" content="Using twitters REST API")
    meta(name="author" content="Tonye Jack")
    //-
        Mobile Specific Metas
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //-
        Fonts
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600'
        rel='stylesheet' type='text/css')
    //-
        CSS
    link(rel="stylesheet" href="/static/css/global.css")
    link()