div.app--tweet
    form.post-form(method='POST', action="/post-tweet", enctype='multipart/form-data')
        div.circle--fluid
            div.circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
                div.app--avatar(style="background-image: url(static/images/m-spore.png);")
                    img(src="static/images/m-spore.png")

                textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?" name="text-area")
                strong#tweet-char.app--tweet--char 140
            div.circle--fluid--cell.align-bottom
                button#tweet-button.button-primary Tweet


