doctype html
html(lang="en")
    include ./partials/_head.jade

    body
        include ./partials/_header.jade
        block content
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js',
                type='text/javascript')
        //-
            Custom Javascript
        script(src='/static/js/twitter-app.js', type='text/javascript')