extends ./layout.jade

block content
    form.sign-in(method='POST', action="/sign-in", enctype='multipart/form-data')
        div.grid-33.centered
            label(for="user_name") Screen Name
            input#user_name(type="text" name="user_name" required)
            label(for="password") Password
            input#password(type="password" name="password" required)
            button#submit-button Sign In